<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3d9a65ed24.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
    <header>
    <div class="container">
        <div class="logo-search">
            <div class="imagen"><img src="images/logo-mercado-liebre.svg"></div>
            <div class="search">
                <form action="" class="bar">
                    <input type="text" placeholder="Que buscas?">
                    <button class="submit"><i class="fa fa-search lupa"></i></button>
                </form>
            </div>
        </div>
        <div class="cuotas">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
        </div>
    </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
    <div class="nav">
        <ul class="opciones">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>

        </ul>
        <ul class="perfil">
            <li><a href="/register">Crea tu cuenta</a></li>
            <li><a href="/login">Ingresa</a></li>
            <li>Mis compras</li>

        </ul>
    </div>
    </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
    <main>
        <h1>Basado en tu última visita</h1>
            <div class="products">
                    <article class="card">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                             <span class="fas fa-truck"></span>
                            <div class="top-section-card">
                             <span class="price">$6.770</span>
                             <span class="discount">40% off</span>
                            </div>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-macbook-pro-2019.jpg" alt="Notebook" class="product_img">
                        <div class="main-article">
                             <span class="fas fa-truck"></span>
                            <div class="top-section-card">
                             <span class="price">$230.000</span>
                             <span class="discount">20% off</span>
                            </div>
                            <h4 class="description">Macbook pro 2019</h4>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung" class="product_img">
                        <div class="main-article">
                             <span class="fas fa-truck"></span>
                            <div class="top-section-card">
                             <span class="price">$70.500</span>
                             <span class="discount">10% off</span>
                            </div>
                            <h4 class="description">Samnsung Galaxy s10</h4>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Tv" class="product_img">
                        <div class="main-article">
                             <span class="fas fa-truck"></span>
                            <div class="top-section-card">
                             <span class="price">$23.200</span>
                             <span class="discount">5% off</span>
                            </div>
                            <h4 class="description">Samnsung 43"</h4>
                        </div>
                    </article>
                   
            </div>
        <h1>Ofertas</h1>
            <div class="products">
                    <article class="card">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                             <span class="fas fa-truck"></span>
                            <div class="top-section-card">
                             <span class="price">$6.770</span>
                             <span class="discount">40% off</span>
                            </div>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-macbook-pro-2019.jpg" alt="Notebook" class="product_img">
                        <div class="main-article">
                             <span class="fas fa-truck"></span>
                            <div class="top-section-card">
                             <span class="price">$230.000</span>
                             <span class="discount">20% off</span>
                            </div>
                            <h4 class="description">Macbook pro 2019</h4>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung" class="product_img">
                        <div class="main-article">
                             <span class="fas fa-truck"></span>
                            <div class="top-section-card">
                             <span class="price">$70.500</span>
                             <span class="discount">10% off</span>
                            </div>
                            <h4 class="description">Samnsung Galaxy s10</h4>
                        </div>
                    </article>
                    <article class="card">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Tv" class="product_img">
                        <div class="main-article">
                             <span class="fas fa-truck"></span>
                            <div class="top-section-card">
                             <span class="price">$23.200</span>
                             <span class="discount">5% off</span>
                            </div>
                            <h4 class="description">Samnsung 43"</h4>
                        </div>
                    </article>
                   
            </div>
    </main>
<footer>
            <div class="container">
                <div class="footer-section">
                    <div class="footer-element">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <div class="footer-element">
                        <h6>Pagá con tarjeta de crédito o en efectivo</h6>
                        <p>Con MercadoCash tenes cuotas sin interés o efectivo en puntos de pago. !Y siempre es seguro!</p>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-element">
                        <i class="fas fa-gift"></i>
                    </div>
                    <div class="footer-element">
                        <h6>Envío gratis desde los $ 2500</h6>
                        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
                    </div>
                </div>
                <div class="footer-section">
                    <div class="footer-element">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <div class="footer-element">
                        <h6>Seguridad de principio a fin</h6>
                        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.
                        </p>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright 1999-2022 Mercado Liebre S.R.L
            </div>
        </footer>
        
    </body>

</html>