*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/*   HEADER   */

header{
display: flex;
flex-wrap: wrap;
background-color: #EAC926;
}

.container{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
}

.logo-search{
display: flex;
flex-wrap: nowrap;
width: 100%;
align-items: center;
justify-content: space-between;
}

.imagen{
display: flex;
flex-wrap: wrap;
width: 50%;
max-width: 400px;
padding: 10px;
}

.search{
display: flex;
flex-wrap: wrap;
width: 50%;
max-width: 400px;
justify-content: flex-end;
padding: 10px;
}



.bar{
display: flex;

}

.bar input{
width: 100%;
max-width: 200px;
height: 30px;
padding-left: 10px;
border:none ;
border-radius: 5px;
}

.lupa{
padding-left: 5px;
padding-right: 5px;
}
.cuotas{
display: flex;
align-items: center;
margin-left: auto;
margin-right: auto;
padding: 10px;
font-size: 1.2rem;
margin-top: 12px;
margin-bottom: 12px;
}

.nav{
display: flex;
width: 100%;
flex-wrap: nowrap;
justify-content: space-between;
margin-bottom: 10px;
}

.opciones{
display: flex;
width: 410px;
justify-content: space-around;
}

.perfil{
display: flex;
width: 350px;
justify-content: space-around;
}

ul{
list-style: none;
padding-left: 2%;
padding-right: 2%;
}

li{
text-decoration: none;
padding: 1%;
font-size: 0.9rem;
font-weight:700;
color: rgb(0, 0, 86);
}

.burger-menu{
display: none;
}


/*BANNER*/
.banner{
display: flex;
}
.banner >img{
width: 100%;
}

/*MAIN*/

main{
margin-top: 10px;
margin-bottom: 20px;
}

h1{
padding: 30px;
font-size: 24px;
}
.products{
width: 90%;
margin-left: auto;
margin-right: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.card{
display: block;
box-shadow:0px 0px 10px rgb(0, 0, 0);
width: 200px;
padding: 10px;
}

.product_img{
width: 100%;
}

.price{
font-size: 18px;
font-weight: 500;
display: inline;
}

.discount, .description{
font-size: 16px;
font-weight: 100;
}
.description{
color: rgb(156, 156, 156);
padding-left: 8px;
}
.discount{
color: #39b54a;
display: inline;
margin-left: 8px;
}
a{
text-decoration: none;
color: inherit;
}
.top-section-card{
display: flex;
padding: 10px;
align-items: baseline;
}
.fa-truck{
display: flex;
justify-content: flex-end;
padding: 3px;
margin-right: 3px;
color:#39b54a
}

footer{
    background-color: white;
}
footer div.container{
    display: flex;
    justify-content: space-around;
}

footer div.container div.footer-section{
    text-align: center;
    min-height: 100px;
    margin: 20px 20px;
    max-width: 400px;
    
}
footer div.container div.footer-element h6{
    color: #000;
}
footer div.container div.footer-element p{
    color: #555;

}
footer div.container div.footer-element i{
    color: blue;
    font-size: 40px;
    margin: 20px;
}
footer div.container div.footer-element i:hover{
    color: gray;
}

.copyright{
font-size: 8px;
    color: #555;
    padding: 10px;
text-align: center;
}

/*FORMULARIOS*/



.ingresa{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-top: 5%;
  font-weight: bold;
}

.center{
position: absolute;
top:25%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
}

 h2{
font-family: 'Poppins', sans-serif;
font-size: 1rem;
border-bottom: 1px solid silver;
text-align: center;
margin-top: 10px;
width: 60%;
margin-left: auto;
margin-right: auto;
}




.center form{
padding: 0 10px;
margin-top: 30px;
max-width: 50%;
margin-left: auto;
margin-right: auto;
}

.center .formulario{
padding: 0 10px;
margin-top: 200px;
}


form .txt_field{
position: relative;
border-bottom: 2px solid #adadad;
margin: 30px 0;
}

.txt_field input{
width: 100%;
padding: 0 5px;
font-size: 0.7rem;
height: 40px;
border: none;
background: none;
outline: none;
font-family: 'Poppins', sans-serif;
}

.txt_field label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%);
font-family: 'Poppins', sans-serif;
pointer-events: none;
transition: .5s;
font-size: 0.7rem;
}

.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 100%;
height: 2px;
background: rgb(182, 182, 182);
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
top: -5px;
color:rgb(46, 46, 46) ;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;
}

.forgot{
margin: -5px 0 20px 5px;
color: #adadad;
font-family: 'Poppins', sans-serif;
font-size: 0.5rem;
}
.forgot:hover{
text-decoration: underline;

}



input[type="Submit"]{
width: 100%;
height: 30px;
border: 1px solid;
border-radius: 25px;
background:rgb(62, 62, 62) ;
color: white; 
font-family: 'Poppins', sans-serif ;
font-size: 0.7rem;
cursor: pointer;
outline: none;
}



input[type="submit"]:hover{
border-color: #adadad;
transition:0.5s;
}

.link_de_inicio{
margin: 30px 0;
text-align: center;
color: #adadad;
font-family: 'Poppins', sans-serif ;
font-size: 0.7rem;
}

.link_de_inicio a{
color:rgb(10, 5, 52);
text-decoration: none;
font-size: 0.7rem;
}

.link_de_inicio a:hover{
text-decoration: underline;
}



/*MEDIA QUERIES*/

@media(max-width:572px){
.nav{
display:none;
}

.burger-menu{
display: flex;
margin-left: auto;
margin-right: auto;
}

.burger{
font-size: 1rem;
background-color: blue;
color: white;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
}

.cuotas{
padding: 10px;
font-size: 0.6rem;
margin-top: 7px;
margin-bottom: 7px;
}

h1{
font-size: 0.8rem;
padding: 30px;
}

footer div.container div.footer-element p{
    font-size: 10px;

}
footer div.container div.footer-element i{
    color: blue;
    font-size: 30px;
    margin: 10px;
}

}